:root{
    --background-color: #070709;
    --text-color: #fff;
    --primary-shadow-color: #9300fc66;
    --secondary-shadow-color: #9300fc;
    --background-image: url(images/dark_background.png);
    --font-weight: normal;
}
html[data-theme='dark']{
    --background-color: #070709;
    --text-color: #fff;
    --primary-shadow-color: #9300fc66;
    --secondary-shadow-color: #9300fc;
    --background-image: url(images/dark_background.png);
    --font-weight: normal;
}
html[data-theme='light']{
    --background-color: #938f85;
    --text-color: #000;
    --primary-shadow-color: #ffffffab;
    --secondary-shadow-color: #fff;
    --background-image: url(images/light_background.png);
    --font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p, a{
    font-weight: var(--font-weight);
}
/* Background */
.header{
    min-height: 100vh;
    width: 100vw;
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
/* text box */
.box {
    width: 700px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    padding: 200px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}
/* title */
.text-box h1{
    font-size: 90px;
    color: var(--text-color);
    font-family: 'lion_kingregular';
    text-align: center;
    font-weight: normal;
}
/* welcome over-line update */
.text-box h1::before{
    content: '';
    width: 75%;
    height: 1px;
    background: var(--text-color);
    display: block;
    margin: auto;
    margin-bottom: -5px;
    transition: 0.5s;
}
.text-box h1:hover::before{
    width: 85%;
}
.text-box h2{
    font-size: 35px;
    color: var(--text-color);
    font-family: 'designer-webfont';
    text-align: center;
    padding-bottom: 10px;
    text-shadow: -4px -4px 8px var(--primary-shadow-color), 
                4px -4px 8px var(--primary-shadow-color), 
                -4px 4px 8px var(--primary-shadow-color), 
                4px 4px 8px var(--primary-shadow-color);
    transition: text-shadow 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
.text-box h2:hover {
    text-shadow: -4px -4px 8px var(--secondary-shadow-color), 
    4px -4px 8px var(--secondary-shadow-color), 
    -4px 4px 8px var(--secondary-shadow-color), 
    4px 4px 8px var(--secondary-shadow-color);
}
.text-box p{
    font-size: 20px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/* Position */
.nav-links{
    flex: 1;
    text-align: center;
    padding-top: 20px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* Menu buttons visuals*/
.button-animation{
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px; 
    border: 2px solid var(--text-color); 
    border-radius: 10px;
}
/* Menu buttons color change animation */
.button-animation:hover {
    text-shadow: -4px -4px 8px var(--secondary-shadow-color), 
    4px -4px 8px var(--secondary-shadow-color), 
    -4px 4px 8px var(--secondary-shadow-color), 
    4px 4px 8px var(--secondary-shadow-color);
    border-color: var(--primary-shadow-color);
    box-shadow: -4px -4px 8px var(--primary-shadow-color), 
                4px -4px 8px var(--primary-shadow-color), 
                -4px 4px 8px var(--primary-shadow-color), 
                4px 4px 8px var(--primary-shadow-color);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);  
}
.button-animation:not(:hover) {
    text-shadow: var(--text-color);
    border-color: var(--text-color);
    box-shadow: none;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);  
  }
/* STARS */
.stars-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    max-width: 100%;
}
.star {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    animation: twinkling 3s infinite;
}
@keyframes twinkling {
    0%, 100% {
        opacity: 0.2; 
    }
    50% {
        opacity: 1; 
    }
}
.star:nth-child(1) {
    top: 20%;
    left: 30%;
    animation-delay: 0s;
}
.star:nth-child(2) {
    top: 80%;
    left: 60%;
    animation-delay: 4s;
}
.star:nth-child(3) {
    top: 90%;
    left: 30%;
    animation-delay: 0s;
}
.star:nth-child(4) {
    top: 90%;
    left: 90%;
    animation-delay: 2s;
}
.star:nth-child(5) {
    top: 50%;
    left: 10%;
    animation-delay: 4s;
}
.star:nth-child(6) {
    top: 10%;
    left: 5%;
    animation-delay: 2s;
}
/* DARK MODE CONTAINER */
.dark-mode-toggle-container {
    display: flex; 
    align-items: center; 
  }
  /* TEXT */
.dark-mode-text{
    margin-top: 30;
    font-size: 15px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/* DARK MODE SLIDER */
.dark-mode-toggle {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin-top: 27px;
  }
  .dark-mode-toggle input[type="checkbox"] {
    display: none;
  }
  .slider {
    width: 35px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-shadow-color);
    border-radius: 20px;
    transition: 0.4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  input[type="checkbox"]:checked + .slider {
    background-color: var(--primary-shadow-color);
  }
  input[type="checkbox"]:checked + .slider:before {
    transform: translateX(15px);
  }

/* PAGE TWO - ABOUT PAGE */
.page-two{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-size: contain;
    background-color: var(--background-color);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    }
.new-star{
    top: 30%;
    left: 90%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    animation: twinkling 3s infinite;
}
.about-box{
    position: relative;
    padding: 200px 100px;
    z-index: 1000;
}
/* about text */
.about-text h2{
    font-size: 40px;
    color: var(--text-color);
    font-family: 'designer-webfont';
    text-align: center;
    font-weight: normal;
    padding-bottom: 40px;
}
.about-text p{
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
}
.languages-box{
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    padding: 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}
.languages-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.languages-area h2{
    font-size: 40px;
    color: var(--text-color);
    font-family: 'designer-webfont';
    font-weight: normal; 
}
.every-image-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5,1fr);
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.image-container img {
    padding: 20px;
    width: 70px;
    height: 70px;
}
.image-container p {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.download-cv{
    text-align: center;
    padding: 30px;
}
/* PROJECTS PAGE */
.page-three{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-size: contain;
    background-color: var(--background-color);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    }
.new-star{
    top: 30%;
    left: 90%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    animation: twinkling 3s infinite;
}
/* PROJECTS PAGE */
.projects-box{
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    padding: 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}
.projects-box h1{
    font-size: 40px;
    color: var(--text-color);
    font-family: 'designer-webfont';
    font-weight: normal; 
}
.projects-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}
.project-item img{
    padding: 20px;
    width: 90%;
    height: 300px;
}
.line-one{
    font-size: 22px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;  
    padding-left: 20px;
    font-weight: bold;
}
.line-two{
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-top: 5px;
}
.project-item p{
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
.project-item {
    vertical-align: top;
}
.projects-container a{
    text-decoration: none;
}
/* Text color change animation */
.text-animation:hover {
    text-shadow: -4px -4px 8px var(--secondary-shadow-color), 
    4px -4px 8px var(--secondary-shadow-color), 
    -4px 4px 8px var(--secondary-shadow-color), 
    4px 4px 8px var(--secondary-shadow-color);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);  
}
.text-animation:not(:hover) {
    text-shadow: var(--text-color);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);  
  }

.title-animation{
    font-size: 35px;
    color: var(--text-color);
    font-family: 'designer-webfont';
    text-align: center;
    padding-bottom: 10px;
    text-shadow: -4px -4px 8px var(--primary-shadow-color), 
                4px -4px 8px var(--primary-shadow-color), 
                -4px 4px 8px var(--primary-shadow-color), 
                4px 4px 8px var(--primary-shadow-color);
    transition: text-shadow 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
.title-animation:hover {
    text-shadow: -4px -4px 8px var(--secondary-shadow-color), 
    4px -4px 8px var(--secondary-shadow-color), 
    -4px 4px 8px var(--secondary-shadow-color), 
    4px 4px 8px var(--secondary-shadow-color);
}
/* CONTACT PAGE */
.contact-box{
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: var(--background-color);
    padding: 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    z-index: 1000;
}
.contact-box h1{
    font-size: 40px;
    color: var(--text-color);
    font-family: 'designer-webfont';
    font-weight: normal; 
}
/* form style */
form {
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
.send-button{
    background-color: transparent;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.socials-container p{
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.socials-container img{
    width: 70px;
    height: 70px;
}
.contact-container{
    padding-bottom: 40px;
}
.contact-text{
    padding-bottom: 40px;
}
.every-socials-container{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image-container a{
    text-decoration: none;
}


/* MOBILE VERSION */
@media (max-width: 768px) {
    /* Global Font and Text Adjustments */
    h2, p, a {
        font-size: 16px;
    }
    /* Main page */
    .header {
        min-height: 50vh;
        padding: 50px 0;
    }
    .box {
        width: 90%;
        max-width: 400px;
        padding: 50px 20px;
    }
    .text-box h1 {
        font-size: 40px;
    }
    .text-box h1::before {
        width: 60%;
    }
    .text-box h2 {
        font-size: 20px;
    }
    .text-box p {
        font-size: 16px;
    }
    .nav-links {
        flex: none;
        text-align: center;
        padding-top: 10px;
    }
    .nav-links ul li {
        padding: 5px 8px;
    }
    .button-animation {
        font-size: 16px;
        padding: 8px;
        border: 2px solid var(--text-color);
        border-radius: 8px;
    }
    /* About page */
    .page-two {
        flex-direction: column;
    }
    .about-box, .languages-box {
        padding: 100px 20px;
    }
    .about-text h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .about-text p {
        font-size: 16px;
        padding: 10px;
    }
    .languages-area h2 {
        font-size: 30px;
    }
    .image-container img {
        width: 40px;
        height: 40px;
    }
    .every-image-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
        max-width: 100%;
    }
    /* Projects page */
    .projects-box {
        padding: 100px 20px; 
    }
    .projects-box h1 {
        font-size: 30px; 
    }
    .project-item img {
        padding: 10px; 
        width: 100%; 
        height: auto; 
    }
    .line-one {
        font-size: 18px; 
        padding-left: 10px; 
    }
    .line-two {
        font-size: 14px; 
        padding-left: 10px; 
        padding-top: 3px; 
    }
    .project-item p {
        font-size: 14px; 
        padding: 10px; 
    }
    .projects-container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1,1fr);
    }
    .title-animation {
        font-size: 25px; 
    }
    /* Contact page */
    .contact-box {
        padding: 100px 20px; 
    }
    .contact-box h1 {
        font-size: 30px; 
    }
    form {
        padding: 10px;
        max-width: 100%; 
    }
    label {
        margin-bottom: 3px; 
    }
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
        margin-bottom: 8px;
    }
    input[type="submit"],
    .send-button {
        font-size: 14px; 
        padding: 8px 16px; 
    }
    .socials-container p {
        font-size: 12px; 
    }
    .socials-container img {
        width: 50px; 
        height: 50px; 
    }
    .contact-container {
        padding-bottom: 20px; 
    }
    .contact-text {
        padding-bottom: 20px; 
    }
    .every-socials-container {
        padding-top: 5px; 
    }
    /* stars remove */
    .stars-container {
        display: none;
    }
}

    /* TABLET VERSION */
    @media (min-width: 769px) and (max-width: 1500px){
        .page-two {
            flex-direction: column;
        }
        .about-box, .languages-box {
            padding: 100px 20px;
        }
        .about-text h2 {
            font-size: 30px;
            padding-bottom: 20px;
        }
        .about-text p {
            font-size: 16px;
            padding: 10px;
        }
        .languages-area h2 {
            font-size: 30px;
        }
        .image-container img {
            width: 40px;
            height: 40px;
        }
        .every-image-container{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3,1fr);
            max-width: 100%;
        }
        /* Projects page */
        .projects-box {
            padding: 100px 20px; 
        }
        .projects-box h1 {
            font-size: 30px; 
        }
        .project-item img {
            padding: 10px; 
            width: 100%; 
            height: auto; 
        }
        .line-one {
            font-size: 18px; 
            padding-left: 10px; 
        }
        .line-two {
            font-size: 14px; 
            padding-left: 10px; 
            padding-top: 3px; 
        }
        .project-item p {
            font-size: 14px; 
            padding: 10px; 
        }
        .projects-container{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2,1fr);
        }
        .title-animation {
            font-size: 25px; 
        }
        /* Contact page */
        .contact-box {
            padding: 100px 20px; 
        }
        .contact-box h1 {
            font-size: 30px; 
        }
        form {
            padding: 10px;
            max-width: 100%; 
        }
        label {
            margin-bottom: 3px; 
        }
        input[type="text"],
        input[type="email"],
        textarea {
            padding: 8px;
            margin-bottom: 8px;
        }
        input[type="submit"],
        .send-button {
            font-size: 14px; 
            padding: 8px 16px; 
        }
        .socials-container p {
            font-size: 12px; 
        }
        .socials-container img {
            width: 50px; 
            height: 50px; 
        }
        .contact-container {
            padding-bottom: 20px; 
        }
        .contact-text {
            padding-bottom: 20px; 
        }
        .every-socials-container {
            padding-top: 5px; 
        }
        /* stars remove */
        .stars-container {
            display: none;
        }
    
}
